
@{
    ViewBag.Title = "FAQ";
}




<div class="container">
    <h2 class="deshDriverHead">Frequently asked questions (For Drivers)</h2>

    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">How do I become a Desh Driver?</p>
        <hr />
        <p>Simply register with us on the 3-step registration process. </p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">How Does The App Works?</p>
        <hr />
        <p>It works only on smartphones with 3G connections.  If your do not have credit on your app account you can be able to get requests from any passengers. Works like your mobile operating connection. </p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">How Do I Load Credit On My Account?</p>
        <hr />
        <p>Only using Bkash.</p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">How Do I Pick up Customers?</p>
        <hr />
        <p>Keep the app running continuously, passengers from nearby will request their pick-up and drop-off location. On the app we allow every drivers to see there nearby passengers.</p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">What is Desh Economy and Desh Premium?</p>
        <hr />
        <p>Desh Economy and Desh Premium is your platform that offers the fastest booking service for private cars. Desh Economy offers casual rides for regular usage, while Desh Premium is a first-class service for the elegant passengers who want a more luxurious, extraordinary and memorable experience.</p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">Where is this service available?</p>
        <hr />
        <p>Dhaka.</p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">What are the Desh Express working hours?</p>
        <hr />
        <p>The Desh Express operation works 24 hours a day consistently, however subject to accessibility of passengers during the moment of booking.</p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">Are there changes of fare?</p>
        <hr />
        <p>Yes, Desh Express charges according to Pick-hour, off-pick hour and midnight-hour rates. Fares are allowed to change during time to time. For more info please look up our fair cart.</p>
    </div>
    <div class="col-lg-12 col-xs-12 driverFAQ">
        <p class="pQuestion">How do customer pay their fare?</p>
        <hr />
        <p>Customers can pay using cash or through Bkash subject to availability. Even with our DeshPay service, which will be available to you very soon.</p>
    </div>
</div>

